.t-container {
    display: flex;
    /* establish flex container */
    flex-direction: row;
    /* make main axis vertical */
    justify-content: center;
    /* center items vertically, in this case */
    /* align-items: center; */
    /* center items horizontally, in this case */
    height: 100%;
}

table {
    width: 100%;
    table-layout: fixed;
}

table td {
    overflow: hidden;
}

table tr.example-element-row:hover {
    background: #f5f5f5;
}

.example-container {
    display: flex;
    flex-direction: column;
}

.example-container>* {
    width: 100%;
}

.m-bottom {
    margin-bottom: 20px;
}

.example-card {
    min-width: 300px;
    max-width: 80%;
}